# -----------------------------------------------------------------
# .gitignore for WordPress
# -----------------------------------------------------------------
#node 
node-modules
.tmp
.sass-cache
builds/**/images/*
