# -----------------------------------------------------------------
# .gitignore for WordPress
# -----------------------------------------------------------------
.DS_Store
node_modules
.tmp
.sass-cache
builds/**/images/*
node_modules
